body {
    background-color: #fff;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;  
}

.logo {
    color: #000000;
}

.accent {
    color: #2196F3;
}

ul {
    list-style: none;
}

.logo:hover,
.logo:focus {
    color: #2196F3;
}

.mail {
    color: #757575;
}

.tel {
    color: #757575;
}

.tel:hover,
.tel:focus {
    color: #2196F3;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    background-color: #2F303A;
    color: #FFFFFF;
}

.btn {
    background-color: #2196F3;
    color: #FFFFFF;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
}

.section-title {
    color: #212121;
}

.features-list .title {
    color: #212121;
}

.btns {
    background-color: #F5F4FA;
    color: #212121;
}

.btns:hover,
.btns:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}