body {
    background-color: #fff;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;  
}

ul {
    list-style: none;
}

/*header*/

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.accent {
    color: #2196F3;
}

.logo:hover,
.logo:focus {
    color: #2196F3;
}

/*nav*/
.site-nav .link-nav {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
    color: #2196F3;
}

.site-nav .link.current {
    color: #2196F3;
}

/*contact*/

.mail {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.tel {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.tel:hover,
.tel:focus {
    color: #2196F3;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}

/*hero*/

.hero {
    background-color: #2F303A;
}

.hero-title {
    background-color: #2F303A;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn {
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

/*section-features*/

.section-team-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.featurs-title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.featurs-text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.features-list .featurs-title {
    color: #212121;
}

/*section-works*/

.section-title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;    
}

.section-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/*section-team*/

.title-team {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.profession {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
}

/*button-portfolio*/

.btns {
    background-color: #F5F4FA;
    color: #212121;
    font-family: inherit;
}

.btns:hover,
.btns:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/*footer*/

.footer {
    background: #2F303A;
}

.address-nav {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}